body{
    padding: 1rem;
}
.card{
    background-color: darksalmon;
    padding: 3rem;
    height: 8rem;
    border-radius: 10px;
    box-shadow: 8px 8px 15px crimson;

}
.cards{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}
@media(min-width:600px) {
    .cards{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 
    }
}