*{
    font-family:helvetica;
    text-decoration: none;
    
}

.header-nav{
    padding: 20px 60px;
    border-radius: 30px;
    background-color: black;
    position: relative;
    height: 448px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
nav img{
    width: 120px;
    background-color: #f2f4f6;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 70px;
}
nav ul li{
    list-style:none;
}
nav ul li label img{
    width: 20px;
    background-color: #f2f4f6;
}
nav ul li a{
    color:floralwhite;
    font-weight: 530;
    padding-bottom: 4px;
    border-bottom: none;
    transition-delay: 0.3s;
    transition: all 0.5 ease-in-out;

}
nav ul li a:hover{
  color: yellow;
  border-bottom: 1px solid yellow;
}
.header-info{
    background-color: #fff7f5;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 440px;
    width: 1240px;
    max-width: 1300px;
    border-radius: 30px;
    box-shadow: 8px 8px 15px crimson;
    position: relative;
    top: -301px;
}
body{
    background-color: #f2f4f6;
}
#image-header{
    width: 720px;
    padding: 0;
    position: relative;
    
    left: 100px;
}
.section-text{
    font-size: 35px;
    padding-left: 50px;

}
.section-text p{
    font-size: 19px;
}
.card{
    background-color:white;/*  #f0f2f2; */
    height: 37rem;
    width: 23rem;
    border-radius: 10px;
    box-shadow: 8px 8px 15px crimson;
    text-align: center;

} 

h2{
    color:black;
}
p{
    color:darkred;
}
.cards{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 3rem;
    position: relative;
    top: -120px;
}
@media(min-width:600px) {
    .cards{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 
    }
}
.btn{
    font-size: 12px;
    text-decoration: none;
    color:black;
    padding: 7px 29px;
    font-weight: 450;
    border-radius: 10px;
    background-color: aqua;
    box-shadow: 1px 1px 1px;    
    transition: all 1s;
}
.btn:hover{
   font-size: 15px;
   padding: 8px 36;
   box-shadow: 5px 5px 5px ;
}
@keyframes slide{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-30px)
	}
}
.alex{
     animation: slide 2s ease-in-out infinite;
}
 .carrosel{  /* */
    overflow: hidden;

}
.container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    


}
img{
    width: 350px;
    padding-inline: 16px;
    object-fit: cover;

}
/* footer */
footer{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 0 30px;
}
footer.top{
    border-bottom: 1px solid #3a4f6a;
    padding-bottom: 20px;

}
footer.top .links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:30px;
}
footer.bottom{
    padding: 20px 0;
    justify-content: space-between;

}
footer .links > div{
    display: grid;
    gap:10px;
    margin-bottom: 30px;
}
footer h2{
    margin:0;
    font-size:16px;
    font-weight: 400;
    color:#f7f7f7;
}
footer .legal{
    font-size: 12px;
}
footer .legal > a{
    margin:0 4px;
}
footer .legal > span{
    margin-right: 10px;
}
footer.bottom .links{
    display: flex;
    gap: 18px;

}
@media (width <620px) {
    footer{
        flex-direction: column;
    }
    footer.bottom{
        gap:16px;
        flex-direction: column-reverse;

    }
}
@media (width >= 620px) {
    footer{
        margin:0 auto;
        max-width: 600px;
        padding: 0;
    }
}
footer.bottom .links > a{
    font-size: 24px;
}
@media (width < 420px){
    footer{
        text-align: center;
        align-items: center;
    }
    footer.top .links{
        grid-template-columns: 1fr;
    }
    footer.bottom{
        align-items: center;
    }
    footer .legal > span{
        display:block;
        margin-right: 0;
        margin-bottom: 2px;
    }
}