*{
    font-family:helvetica;
}
body{
    padding: 1rem;
} 
.card{
    background-color:white;/*  #f0f2f2; */
    height: 30rem;
    width: 23rem;
    border-radius: 10px;
    box-shadow: 8px 8px 15px crimson;
    text-align: center;

} 
img{
    width: 250px;
    /* margin: auto; */
}
h2{
    color:black;
}
p{
    color:darkred
}
.cards{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}
@media(min-width:600px) {
    .cards{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 
    }
}
.btn{
    font-size: 12px;
    text-decoration: none;
    color:black;
    padding: 7px 29px;
    font-weight: 450;
    border-radius: 10px;
    background-color: aqua;
    box-shadow: 1px 1px 1px;    
    transition: all 1s;
}
.btn:hover{
   font-size: 15px;
   padding: 8px 36;
   box-shadow: 5px 5px 5px ;
}
@keyframes slide{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-30px)
	}
}
.alex{
     animation: slide 2s ease-in-out infinite;
}
.slide{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-image{
    cursor: pointer;
}
